<!doctype html>
<link href="{{ url_for('static',filename='css/dropzone.min.css')}}" rel="stylesheet">


<form method="POST" >
    {{ form.hidden_tag() }}
    {{ form.file }}
    {% for error in form.file.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}
    {{ form.submit }}
</form>

{% for file_url in file_urls %}
<br><img src='{{ file_url }}'>
{% endfor %}

{% for message in get_flashed_messages() %}
<div class=flash>{{ message }}</div>
{% endfor %}

<script src="{{url_for('static',filename='js/dropzone.min.js')}}"></script>

